<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="mid360_lidar" params="parent xyz:='0 0 0.5' rpy:='0 0 0'">
    <link name="mid360_link">
  <visual>
    <origin xyz="0 0 0" rpy="1.5708 0 3.14"/>
    <geometry>
      <mesh filename="package://livox_description/meshes/mid360.dae" scale="0.001 0.001 0.001"/>
    </geometry>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="1.5708 0 3.14"/>
    <geometry>
      <mesh filename="package://livox_description/meshes/mid360.dae" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
  <inertial>
    <mass value="0.5"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <inertia
      ixx="0.001" ixy="0.0" ixz="0.0"
      iyy="0.001" iyz="0.0"
      izz="0.001"/>
  </inertial>
</link>

    <joint name="mid360_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="mid360_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>
  </xacro:macro>
</robot>

