# Ignore build and development files
build/
devel/
log/
github_token

# If install space is used (rare with catkin_make, but safe to include)
install/

# Ignore build folders in individual packages, if they exist
src/**/build/

# Python cache
**/__pycache__/
**/*.pyc

# IDE / Editor files
.vscode/
.idea/
.DS_Store

# CMake specific (sometimes found in subfolders)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

